<div layout="row" layout-align="center center" flex class="pad-top-sm">
<mat-slide-toggle >Knowledge Graph</mat-slide-toggle>
<mat-slide-toggle  class="pad-left-md">Time Decay</mat-slide-toggle>
<mat-slide-toggle  class="pad-left-md">Popularity of Sources</mat-slide-toggle>
</div>

<div  layout-align="center center" flex  class="pad-top-sm">
    <table td-data-table>
        <tr class="mat-subhead-2 tc-grey-600 " >
            <td flex-gt-sm="50">  <mat-checkbox>News Article</mat-checkbox> </td>
            <td flex-gt-sm="50">  <mat-checkbox>Tweeter Feed</mat-checkbox> </td>
        </tr>
        <tr class="mat-subhead-2 tc-grey-600 " >
            <td flex-gt-sm="50">  <mat-checkbox>ENISA Reports</mat-checkbox> </td>
            <td flex-gt-sm="50">  <mat-checkbox>ENISA Recommendations</mat-checkbox> </td>
        </tr>
        </table>
    </div>
    

