<div layout="column" layout-align="start start" class="pad-top-md">
  <div style="width:50%">
    <mat-card>
      <td-search-box #searchBox alwaysVisible="true" placeholder="Search here" [(ngModel)]="result.criteria.keyword" (search)="search()" flex class="borders">
      </td-search-box>
    </mat-card>
  </div>

  <div layout-align="center center" flex class="pad-top-sm">
    <mat-radio-group class="radio-group" [(ngModel)]="selectedIndex" (change)="updateDataTable($event)">
      <mat-radio-button class="example-radio-button pad-right-md" *ngFor="let index of indices" [value]="index.name">
        {{index.label}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div layout="row" layout-align="center center" flex>
    <mat-slide-toggle [(ngModel)]="result.criteria.k_graph" [disabled]="result.criteria.knowledgeGraphDisabled">Knowledge Graph</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="result.criteria.time_decay" class="pad-left-md" [disabled]="result.criteria.timeDecayDisabled">Time Decay</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="result.criteria.p_resources" class="pad-left-md" [disabled]="result.criteria.popularitySourcesDisabled">Popularity of Sources</mat-slide-toggle>
  </div>

  <div layout="column" layout-align="center center" flex class="pad-top-sm" style="width: 100%;">
    <app-result-template style="width: 100%;" [result]="result" (idEvent)="idReceive($event)"></app-result-template>
  </div>
</div>