<mat-card tdMediaToggle="gt-xs"  flex>
    <div flex layout-gt-sm="row">
      <div flex-gt-sm="10">
        <button mat-icon-button class="md-icon-button logo" [routerLink]="['/']" style="width: 120px; height: 95px;">
          <img src="assets//ico/enisa-logo.png" layout-fill>
        </button>
      </div>
      <div flex-gt-sm="80" layout-fill style="width:90%">
        <ng-template [ngIf]="view == 'search'">
          <mat-tab-group (selectedTabChange)="tabChanged($event)"  >
            <mat-tab *ngFor="let topic of response.topics" label="{{topic.topic}}"> 
              <app-topic  [result]="topic" (criteriaChange)="criteriaChange($event)" ></app-topic>
              <!-- <div layout="column" >
                  <button mat-raised-button color="primary">Add to Topic {{topic.topic}}</button>
                </div> -->
          </mat-tab>
        </mat-tab-group>
        <div layout="column" layout-align="end end" class="pad-bottom-xl pad-top-sm">
          <button mat-raised-button color="primary" (click)="setView('report')">Report Editor</button>
        </div>
      </ng-template>
      <ng-template [ngIf]="view == 'report'">
        <mat-tab-group>
          <mat-tab *ngFor="let topic of response.topics" label="{{topic.topic}}">
            <app-report-editor [result]="topic" [notes]="notes"></app-report-editor>
          </mat-tab>
        </mat-tab-group>
        <div layout="column" layout-align="end end" class="pad-bottom-xxl" style="z-index:1000;display:inline;position:relative;top:-36px;float:right;">
          <button mat-raised-button color="primary" (click)="setView('search')">Back to article selection</button>
        </div>
      </ng-template>
    </div>
    <app-enisa-footer></app-enisa-footer>
  </div>
</mat-card>
